<div class="app-layout">
  <video autoplay muted loop class="app-layout__bg">
    <source src="assets/stars-bg.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="container-fluid">
    <div class="app-layout__wrapper row align-items-stretch">
      <div class="app-layout__sidebar col-lg-3">
        <h1 class="app-layout__title display-4">{{ heading }}</h1>
      </div>
      <div class="app-layout__stage col-lg-9">
        <div class="container">
          <app-table></app-table>
        </div>
      </div>
    </div>
  </div>
</div>